h1 {
    font-family: "Contrail One", serif;
    margin-left: 2%;
}

main {
        background: white;
    border-radius: 15px;
    width: 85vw;
    max-width: 1200px;
    margin: 12vh auto 20vh auto;
    padding-top: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    position: auto;
    border-radius: 15px;
    width: 90%;
    height: 5vh;
    background-color: #004aad;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: white;
}

input {
    display: block;
    width: 35vw;
    height: 3vh;
    background-color: #c4f1ff;
    margin: 0;
}

.campo-texto {
    display: flex;
    flex-direction: row;
    padding: 0.5vh;
    width: 50vw;
    justify-content: space-between;
}
select {
    margin: 0;
    width: 35.2vw;
    height: 3vh;
    background-color: #c4f1ff;
}


label{
    color: #004aad;
    font-family: 'Open Sans', sans-serif;
    font-size: larger;
    font-weight: 700;
    margin-right: 0.5vw;
}
form {
    padding: 2.5%;
}
#linha-titulo {
    flex-grow: 1;
    height: 3px;
    background-color:#004aad;
    border-width: 5px;
}
#n-patrimonio-remov {
    border-radius: 15px;
    background-color: #e1f8ff;
}