html {
    overflow: hidden !important;
}

body {
    display: flex;
    flex-direction: column;
}

#login {
    display: flex;
    flex-direction: column; /* Para garantir que os itens fiquem em coluna */
    background: rgba(255, 255, 255, 0.6);
    align-items: center; /* Centraliza o conteúdo no eixo horizontal */
    justify-content: center; /* Centraliza o conteúdo no eixo vertical */
    width: auto;
    height: auto;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 25px;
    position: relative;
    margin: 0 auto;
}

#semi-circulo {
    position: relative;
    width: 23vh;
    height: clamp(50px, 20vh, 120px);
    background: rgba(255, 255, 255, 0.6);
    z-index: 2;
    border-radius: 150px 150px 0 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#img-login {
    opacity: 100% !important;
    height: 90%;
    position: relative;
    top: 10%;
    z-index: 2 !important;
}

#entrar-btn {
    background: var(--cor-btn-primaria);
    color: white;
    height: 2rem;
    border: none;
    width: 100%;
    font: bold 15px arial, sans-serif;
    border-radius: 5px;
    display: block;
    cursor: pointer;
}

#buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#buttons button {
    width: 45%;
}

button:not(.edit-btn) {
    background: var(--cor-btn-primaria);
    color: white;
    height: 2.3rem;
    border: none;
    width: 100%;
    font: bold 1rem arial, sans-serif;
    border-radius: 5px;
    display: block;
    cursor: pointer;
}

button:hover, #cadastrar-btn:hover {
    background: var(--cor-btn-secundaria);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

#form-login, #form-cadastro {
    box-sizing: border-box;
    width: 100%;
    padding: 0.4rem 1rem;
}

section {
    padding-top: 16vh;
}

input {
    width: 100%;
    height: 1.7rem;
    box-sizing: border-box;
    margin-top: 0.1rem;
    font-size: 1rem;
    border: none;
}

label {
    font-size: 0.6rem;
    display: block;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

#login a, #login-link {
    color: #004aad;
    text-decoration: none;
    font-size: 0.8rem;
    margin-top: 1rem;
}

section {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 1rem;
}

#cadastro-secao {
    width: 27rem;
    padding: 0.2rem 1rem;
}

#dados-pessoais-secao {
    width: 30rem;
    padding: 2rem;
}

#cargos-secao {
    height: auto;
    width: auto;
    padding: 0.2rem 1.2rem;
}

section h2 {
    text-align: center;
    display: block;
    font-size: 2rem;
    margin: 0.5rem auto;
    color: black;
}

#usuario-img {
    width: 5rem;
    height: 5rem;
    display: block;
    margin: auto;
}

#cargos-secao ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cargo, .subcargo {
    width: 100%;
    border-radius: 0.2rem;
    background: white;
    border: #003a7d 1px solid;
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;
    box-sizing: border-box;
}

.cargo:hover, .subcargo:hover {
    background: var(--cor-btn-secundaria);
    color: white;
}

.cargo-selecionado, .cargo-selecionado:hover, .cargo:active, .subcargo:active  {
    background: var(--cor-btn-terciaria);
}

#cargos {
    display: flex; /* Usando flex em vez de grid */
    flex-direction: column;
    flex-wrap: wrap; /* Permite que os itens se ajustem */
    align-content: center;
    justify-content: center; /* Distribui o espaço entre os itens */
    gap: 1rem;
    padding: 15px;
}

#cargos-gerais {
    display: flex; /* Usando flex em vez de grid */
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

#cargos-gerais div div {
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#cargos-especificos {
    display: flex; /* Usando flex em vez de grid */
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}

#cargos-especificos > div {
    width: 45%;
}

#editar-nome-usuario {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nome-usuario {
    display: inline-block;
    text-align: center;
}

.edit-btn {
    position: absolute;
    right: 0;
    padding: .3rem;
    background-color: var(--cor-btn-primaria);
    border: none;
    border-radius: 50%;
}

.edit-img {
    width: 1rem;
    cursor: pointer;
    padding: 0;
    background-color: transparent;
}

#secao-login {
    display: flex; /* Usando flex ao invés de grid */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    height: 100%;
    width: 100%;
    padding-top: 0px;
}
