/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 17 de dez de 2024, 11:08:48
    Author     : jfcalvao
*/

#login {
    display: flex;
    background: rgb(255, 255, 255);
    opacity: 69%;
    padding-top: 3%;
    align-items: center;
    justify-content: center;
    width: 20%;
    padding: 5%;
    width: 15vw;
    height: 15vw;
    top: 5vw;
    border-radius: 5%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-template-columns: max-content;
}
#semi-circulo {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    width: 12vw;
    height: 150px;
    background: rgb(255, 255, 255);
    opacity: 50%;
    border-radius: 150px 150px 0 0;
}
#submit {
    background: #004aad;
    color: white;
    border-style: outset;
    border-color: #0066A2;
    height: 100%;
    width: 100%;
    font: bold 15px arial, sans-serif;
    text-shadow: none;
}

input {
    width: 100%;
}