/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 17 de dez de 2024, 11:05:05
    Author     : jfcalvao
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    height: 100vh;
}

:root {
    --cor-primaria: hsl(253, 83%, 27%);
    --cor-secundaria: hsl(229, 94%, 44%);
}

html,
body {
    min-height: 100%;
    padding: 0;
    margin: 0;
    font-size: larger;
    background: #c4f1ff;
    background: linear-gradient(180deg, #c4f1ff 11%, rgba(0, 74, 173, 1) 100%);
}